@use '../base';
@use '../utilities';

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: base.$pure-white;
	@include utilities.heroImages('../../Assets/mobile_palm-g0f0d15579_640.jpg');
	background-attachment: scroll;
	&__heading {
		font-family: base.$dancing-font;
		font-size: base.$size_h1;
		font-weight: 300;
		padding: 20px;
	}
	&__text {
		font-size: base.$size_text;
	}
}
.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: base.$pure-white;
	&-left {
		bottom: 0;
		left: -50px;
		transform: skew(45deg);
	}
	&-right {
		top: 0;
		right: -50px;
		transform: skew(45deg);
	}
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}
	.header {
		&__heading {
			font-size: base.$large_h1;
		}
		&__text {
			font-size: base.$large_text;
		}
		&__btn {
			font-size: base.$large_btn_size;
		}
	}
}
