@use '../base';
@use '../utilities';

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: base.$pure-white;
	@include utilities.heroImages('../../Assets/mobile_palm-g0f0d15579_640.jpg');
	background-attachment: scroll;
	&__heading {
		font-family: base.$dancing-font;
		font-size: base.$small_h1;
		font-weight: 300;
		padding: 20px;
	}
	&__text {
		font-size: base.$small_text;
	}
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}
	.header {
		&__heading {
			font-size: base.$medium_h1;
		}
		&__text {
			font-size: base.$medium_text;
		}
		&__btn {
			font-size: base.$medium_btn_size;
		}
	}
}

@media (min-width: 992px) {
	.header {
		background-image: base.$blue-gradient,
			url(../../Assets/desktop_palm-3172367.jpg);
		&__heading {
			font-size: base.$large-h1;
		}
		&__text {
			font-size: base.$xlarge-text;
		}
	}
}
